* {
    box-sizing: border-box;
    padding: 0;
}

body{
    background: white
}


/*--------------------Estilos del Header---------------------------*/
.header{
    height: 60px;
    color: #0f1110;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
 
    
    
}



.logo, .icon-menu{
    margin: 5px;
    color:rgb(82, 244, 42) ;
    font-size: 50px;
    
  

}

.icon-menu{
   display: block; 
   width: 40px;
   height: 40px;
   font-size: 30px;
   background: #03b703;
   color: rgb(248, 243, 243);
   text-align: center;
   line-height: 45px;
   border-radius: 5px;
   margin-left: auto;
   cursor: pointer;
  

}

/*--------------------Estilos del Menu---------------------------*/
.nav{
    position: absolute;
    top: 60px;
    left: -1000%;
    width: 100%;
    margin: 0px;
    transition: 0.4s;
    
    
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    
    
   
    


}

.menu__link{
display: block;
padding: 15px;
background:#3319fb ;
text-decoration: none;
color: rgb(243, 247, 245);

}

.menu__link:hover , select{
    background: black;
    color: #1d19fb;
    
}
.mostrar{
left: 0;


}





.contenedor-galeria{
    display: flex;
    width:100% ;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    

}

.galeria__img {
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(100%);
    cursor: pointer;
    animation: escalar 1.6s infinite alternate;  
    border-radius: 20px; 
    box-shadow: 5px 8px 12px black;   
}
.galeria__img>p{
    font-size: 2.6rem;
    color: white;
    position: absolute ;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    
}
@keyframes escalar{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.02);
    }
}

.galeria__img:hover {
filter: brightness(100%);
}



a,p{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;   
}

/*--------------------Estilos del Footer---------------------------*/

.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"]{
    display: inline-block;
    color: #333;
    
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: rgb(12, 182, 224);
    width: 50px;
    height: 50px;
    line-height: 40px;
}